In [83]:
import numpy as np
import pandas as pd

In [84]:
fp = pd.read_csv('/Users/dayeong/Downloads/capstone-main/data/all_intradata_dy.csv')

In [85]:
fp.head()

       time  value        date
0  00:00:01     91  2022-04-06
1  00:00:06     91  2022-04-06
2  00:00:11     91  2022-04-06
3  00:00:16     92  2022-04-06
4  00:00:21     93  2022-04-06

In [86]:
fp.date

0        2022-04-06
1        2022-04-06
2        2022-04-06
3        2022-04-06
4        2022-04-06
            ...
74277    2022-04-11
74278    2022-04-11
74279    2022-04-11
74280    2022-04-11
74281    2022-04-11
Name: date, Length: 74282, dtype: object

In [87]:
fp_test_sit = fp[(fp['time']>='17:30:00') & (fp['time']<='17:40:00')]
fp_test_wk = fp[(fp['time']>='17:35:00') & (fp['time']<='17:40:00')]
fp_total = fp[(fp['time']>='17:30:00') & (fp['time']<='17:40:00')]

In [60]:
fp_test_sit.head(10)

          time  value        date
9131  17:30:01     86  2022-04-12
9132  17:30:06     86  2022-04-12
9133  17:30:11     87  2022-04-12
9134  17:30:16     86  2022-04-12
9135  17:30:21     85  2022-04-12
9136  17:30:26     87  2022-04-12
9137  17:30:31     90  2022-04-12
9138  17:30:36     93  2022-04-12
9139  17:30:41     89  2022-04-12
9140  17:30:46     89  2022-04-12

In [61]:
fp_test_wk.head(10)

          time  value        date
9179  17:35:06     87  2022-04-12
9180  17:35:11     88  2022-04-12
9181  17:35:16     87  2022-04-12
9182  17:35:21     86  2022-04-12
9183  17:35:26     84  2022-04-12
9184  17:35:31     85  2022-04-12
9185  17:35:36     89  2022-04-12
9186  17:35:41     92  2022-04-12
9187  17:35:46     91  2022-04-12
9188  17:35:51     94  2022-04-12

In [88]:
fp_total.head(10)

          time  value        date
9053  17:30:00    100  2022-04-06
9054  17:30:15    100  2022-04-06
9055  17:30:25     99  2022-04-06
9056  17:30:40     99  2022-04-06
9057  17:30:45    101  2022-04-06
9058  17:30:50    107  2022-04-06
9059  17:30:55    106  2022-04-06
9060  17:31:05    108  2022-04-06
9061  17:31:15    104  2022-04-06
9062  17:31:20    107  2022-04-06

In [65]:
nn_intervals = fp_test_sit['value']

In [80]:
def get_time_domain_features(nn_intervals) -> dict:

    diff_nni = np.diff(nn_intervals)
    length_int = len(nn_intervals)

    # Basic statistics
    mean_nni = np.mean(nn_intervals)
    median_nni = np.median(nn_intervals)
    range_nni = max(nn_intervals) - min(nn_intervals)

    sdsd = np.std(diff_nni)
    rmssd = np.sqrt(np.mean(diff_nni ** 2))

    nni_50 = sum(np.abs(diff_nni) > 50)
    pnni_50 = 100 * nni_50 / length_int
    nni_20 = sum(np.abs(diff_nni) > 20)
    pnni_20 = 100 * nni_20 / length_int

    # Feature found on github and not in documentation
    cvsd = rmssd / mean_nni

    # Features only for long term recordings
    sdnn = np.std(nn_intervals, ddof=1)  # ddof = 1 : unbiased estimator => divide std by n-1
    cvnni = sdnn / mean_nni

    # Heart Rate equivalent features
    heart_rate_list = np.divide(60000, nn_intervals)
    mean_hr = np.mean(heart_rate_list)
    min_hr = min(heart_rate_list)
    max_hr = max(heart_rate_list)
    std_hr = np.std(heart_rate_list)

    time_domain_features = {
        'mean_nni': mean_nni,
        'sdnn': sdnn,
        'sdsd': sdsd,
        'nni_50': nni_50,
        'pnni_50': pnni_50,
        'nni_20': nni_20,
        'pnni_20': pnni_20,
        'rmssd': rmssd,
        'median_nni': median_nni,
        'range_nni': range_nni,
        'cvsd': cvsd,
        'cvnni': cvnni,
        'mean_hr': mean_hr,
        "max_hr": max_hr,
        "min_hr": min_hr,
        "std_hr": std_hr,
    }

    return time_domain_features

In [81]:
get_time_domain_features(nn_intervals)

{'mean_nni': 88.7872340425532,
 'sdnn': 5.909482702877033,
 'sdsd': 1.6949729458269274,
 'nni_50': 0,
 'pnni_50': 0.0,
 'nni_20': 0,
 'pnni_20': 0.0,
 'rmssd': 1.7007272321802724,
 'median_nni': 87.0,
 'range_nni': 23,
 'cvsd': 0.019155087446075438,
 'cvnni': 0.06655779703695676,
 'mean_hr': 678.6317685671763,
 'max_hr': 759.493670886076,
 'min_hr': 588.2352941176471,
 'std_hr': 43.293740834175495}

In [68]:
nn_intervals = fp_test_wk['value']

In [69]:
def get_time_domain_features(nn_intervals) -> dict:

    diff_nni = np.diff(nn_intervals)
    length_int = len(nn_intervals)

    # Basic statistics
    mean_nni = np.mean(nn_intervals)
    median_nni = np.median(nn_intervals)
    range_nni = max(nn_intervals) - min(nn_intervals)

    sdsd = np.std(diff_nni)
    rmssd = np.sqrt(np.mean(diff_nni ** 2))

    nni_50 = sum(np.abs(diff_nni) > 50)
    pnni_50 = 100 * nni_50 / length_int
    nni_20 = sum(np.abs(diff_nni) > 20)
    pnni_20 = 100 * nni_20 / length_int

    # Feature found on github and not in documentation
    cvsd = rmssd / mean_nni

    # Features only for long term recordings
    sdnn = np.std(nn_intervals, ddof=1)  # ddof = 1 : unbiased estimator => divide std by n-1
    cvnni = sdnn / mean_nni

    # Heart Rate equivalent features
    heart_rate_list = np.divide(60000, nn_intervals)
    mean_hr = np.mean(heart_rate_list)
    min_hr = min(heart_rate_list)
    max_hr = max(heart_rate_list)
    std_hr = np.std(heart_rate_list)

    time_domain_features = {
        'mean_nni': mean_nni,
        'sdnn': sdnn,
        'sdsd': sdsd,
        'nni_50': nni_50,
        'pnni_50': pnni_50,
        'nni_20': nni_20,
        'pnni_20': pnni_20,
        'rmssd': rmssd,
        'median_nni': median_nni,
        'range_nni': range_nni,
        'cvsd': cvsd,
        'cvnni': cvnni,
        'mean_hr': mean_hr,
        "max_hr": max_hr,
        "min_hr": min_hr,
        "std_hr": std_hr,
    }

    return time_domain_features

In [70]:
get_time_domain_features(nn_intervals)

{'mean_nni': 92.8913043478261,
 'sdnn': 5.39229186841763,
 'sdsd': 1.6110727964792761,
 'nni_50': 0,
 'pnni_50': 0.0,
 'nni_20': 0,
 'pnni_20': 0.0,
 'rmssd': 1.632993161855452,
 'median_nni': 92.0,
 'range_nni': 18,
 'cvsd': 0.017579612788521132,
 'cvnni': 0.058049479510229575,
 'mean_hr': 648.0309874206807,
 'max_hr': 714.2857142857143,
 'min_hr': 588.2352941176471,
 'std_hr': 36.877905913227714}

In [89]:
# total 
nn_intervals = fp_total['value']

In [90]:
def get_time_domain_features(nn_intervals) -> dict:

    diff_nni = np.diff(nn_intervals)
    length_int = len(nn_intervals)

    # Basic statistics
    mean_nni = np.mean(nn_intervals)
    median_nni = np.median(nn_intervals)
    range_nni = max(nn_intervals) - min(nn_intervals)

    sdsd = np.std(diff_nni)
    rmssd = np.sqrt(np.mean(diff_nni ** 2))

    nni_50 = sum(np.abs(diff_nni) > 50)
    pnni_50 = 100 * nni_50 / length_int
    nni_20 = sum(np.abs(diff_nni) > 20)
    pnni_20 = 100 * nni_20 / length_int

    # Feature found on github and not in documentation
    cvsd = rmssd / mean_nni

    # Features only for long term recordings
    sdnn = np.std(nn_intervals, ddof=1)  # ddof = 1 : unbiased estimator => divide std by n-1
    cvnni = sdnn / mean_nni

    # Heart Rate equivalent features
    heart_rate_list = np.divide(60000, nn_intervals)
    mean_hr = np.mean(heart_rate_list)
    min_hr = min(heart_rate_list)
    max_hr = max(heart_rate_list)
    std_hr = np.std(heart_rate_list)

    time_domain_features = {
        'mean_nni': mean_nni,
        'sdnn': sdnn,
        'sdsd': sdsd,
        'nni_50': nni_50,
        'pnni_50': pnni_50,
        'nni_20': nni_20,
        'pnni_20': pnni_20,
        'rmssd': rmssd,
        'median_nni': median_nni,
        'range_nni': range_nni,
        'cvsd': cvsd,
        'cvnni': cvnni,
        'mean_hr': mean_hr,
        "max_hr": max_hr,
        "min_hr": min_hr,
        "std_hr": std_hr,
    }

    return time_domain_features

In [91]:
get_time_domain_features(nn_intervals)

{'mean_nni': 94.14336917562724,
 'sdnn': 10.132916522199835,
 'sdsd': 2.222780699821129,
 'nni_50': 0,
 'pnni_50': 0.0,
 'nni_20': 0,
 'pnni_20': 0.0,
 'rmssd': 2.222780699821129,
 'median_nni': 97.0,
 'range_nni': 45,
 'cvsd': 0.023610592219983816,
 'cvnni': 0.10763282226809388,
 'mean_hr': 645.3445457196345,
 'max_hr': 869.5652173913044,
 'min_hr': 526.3157894736842,
 'std_hr': 75.02410299979584}